body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d086862e; /* Light gray background */
    color: #333; /* Dark gray text color */
}

.container {
    display: flex;
    max-width: 960px;
    margin: 20px auto;
    background-color: rgba(173, 130, 181, 0.018);
    outline-style: dotted;
    overflow: hidden;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #d84ca028; /* Lighter gray for sidebar */
}

.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.sidebar h1, .sidebar h2, .sidebar h3 {
    margin-bottom: 5px;
}

.contact-info, .education {
    margin-bottom: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

.content section {
    margin-bottom: 20px;
}

.content h2 {
    margin-bottom: 10px;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content li {
    margin-bottom: 5px;
}

.summary {
    margin-bottom: 20px;
}
